@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variables */
:root {
  --success: #38a169;
  --error: #e53e3e;
  --warning: #dd6b20;
  --info: #3182ce;
}

/* ========= Carousel ========= */
.slider-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.slider-image {
  width: 20em;
  height: 20em;
  border-radius: 10px;
  margin: 0 auto;
  display: none;
}
.slider-image.active {
  display: flex;
}

/* arrows */
.arrow.left,
.arrow.right {
  position: absolute;
  top: 38%;
  cursor: pointer;
}
.arrow.left {
  left: 0;
}
.arrow.right {
  right: 0;
}

/* indicators */
.slider-indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.75em;
}
.slider-indicators span {
  width: 0.5em;
  height: 0.5em;
  background-color: black;
  opacity: 0.5;
  border-radius: 50%;
  text-align: center;
  margin: 0 0.5em;
  cursor: pointer;
}
.slider-indicators span.active {
  display: flex;
  background-color: black;
  opacity: 1;
}

/* ========= Modal ========= */
.modal--overlay {
  z-index: 100;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #000;
  opacity: 0.75;
  width: 100vw;
  height: 184vh;
}
.modal-container {
  background-color: lightgray;
  padding: 1em;
  width: 30em;
  height: 20em;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  z-index: 50;
}

.modal--content {
  position: relative;
}

.modal--header,
.modal--body,
.modal--footer {
  padding: 1em;
}

.modal--close {
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 10px;
}

/* ========= Alert ========= */
.alert--container {
  min-height: 5vh;
  width: 100vw;
  color: #fff;
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.alert--message {
  width: 90%;
  text-align: left;
  margin-left: 1em;
}
.alert--close {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}
.alert--container.success {
  background-color: var(--success);
}
.alert--container.error {
  background-color: var(--error);
}
.alert--container.info {
  background-color: var(--info);
}
.alert--container.warning {
  background-color: var(--warning);
}

/* ========= Side Bar ========= */
.sidebar--container {
  position: relative;
}
.sidebar--content {
  display: flex;
  padding: 1em;
  border-radius: 10px;
  flex-direction: column;
  width: 12em;
  justify-content: flex-start;
  height: 100vh;
  background-color: rgb(238, 238, 238);
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  width: 100%;
  margin-bottom: 0.75em;
  color: var(--success);
}
.sidebar--item {
  margin: 0.1em 0;
  padding: 0.5em;
  width: 100%;
  cursor: pointer;
  color: var(--success);
  font-weight: 600;
  transition: background 0.05s ease-in;
}

.sidebar--item:hover {
  background-color: var(--success);
  color: #fff;
  border-radius: 10px;
}
button.btn-icon {
  background-color: lightgray;
  padding: 0.5em;
  border-radius: 10px;
}

.sidebar--toggle {
  position: absolute;
  left: 14%;
  top: 2%;
}
